#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(51, 50, 50, 0.9); /* Adjust opacity here */
  color: white;
  border-radius: 20px;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  text-align: center;
  margin-top: 25px;
}

.card-body {
  background-color: #888;
  color: white;
}

.read-the-docs {
  color: #888;
}

.internship-card {
  width: 18rem;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.internship-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}

.internship-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.btn-dark {
  background-color: #262628;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn-dark:hover {
  background-color: #535bf2;
}